<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Hp/IdeaProjects/API Automation1">
        <classes>
            <class name="org.example.Tests.CRUD.GET.GETNonBDDTestNG">
                <methods>
                    <include name="testGetallbookingpositive"/>
                    <include name="testGetallbookingnegative"/>
                    <include name="testGetallbookingalphanumeric"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>